/* IMPOSTAZIONI GENERALI */
 html {
    font-size: 85%;
}
body {
    color: #000;
    font-size: 1.5rem;
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
    line-height: 1.8; 
    

}
/* TIPOGRAFIA */
h1 {
    font-size: 4rem;
    line-height: 1;
}
    
h2 {
    font-size: 3.5rem;
    line-height: 1;
}

h3 {
        font-size: 2.5rem;
        line-height: 1;
}
    
/* HEADER */
header {
	background-color: white;
	padding: 1em;
    box-shadow: 0 2px 10px #d3d3d3;  
   
}
	#logo {
		
		width: 40%;
		height: auto;
	}

    
    header .lni {
        
        width: 2px;
        height: auto;
        padding: 0em 0em 0em 1.5em;
   }

    input#menuButton {
       display: none; 
       
       
      
        
    }
    
    input#menuButton:checked ~ nav {
        height: 7.4em;
    
    }    

.registrati {
    color: white;
    background: rgb(102,193,226);
    background: linear-gradient(90deg, rgba(102,193,226,1) 48%, rgba(57,39,250,1) 100%);
    text-decoration: none;
    cursor: pointer; 
	display: inline-block;
	font-size: 1.9rem;
    padding: 0em 0.4em 0.5em 0.4em;
    
 }   
    
 

/* SECTION */
#banner {
	background-image: url(../images/banner.jpg);
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat; 
    margin-bottom: 1.7em;
} 

    #banner h1 {
        color: white;
        line-height: 1;
        padding: 0.8em 0em 1.1em 0.3em;
       
    }

    #banner p {
        color: white;
        line-height: 1.2;
        margin: 0em 1.5em 0.6em 1.5em;
    }

    #banner .pulsante {
        font-size: 1.9rem;
        color: white;
        background: rgb(102,193,226);
        background: linear-gradient(90deg, rgba(102,193,226,1) 48%, rgba(57,39,250,1) 100%);
        margin: 0.1em 0em 1em 1.1em;
        cursor: pointer; 
		display: inline-block;
		padding: 0em 0.5em;
		text-align: center;
		text-decoration: none;
        border: 3px solid black;
	}

  #benefits h3 {
    text-align: center;
    line-height: 1;
}

#benefits p {
    text-align: center;
    margin: 0.8em 0em 1.8em 0em;
}

  .lni{  
    color: red;
     width: 100%; 
     text-align:center;  
    font-size: 2em;  
 }

#bluesection {
    background-color: #0c0633;
    color: white;
    text-align: center;
    line-height: 1;
    padding: 4em 0em;
}

    #bluesection p {
        margin: 1.5em 0em;
    }
   
.button {
    font-size: 1.9rem;
    color: white;
    background: rgb(102,193,226);
    background: linear-gradient(90deg, rgba(102,193,226,1) 48%, rgba(57,39,250,1) 100%);
    cursor: pointer; 
    display: inline-block;
    text-align: center;
    padding: 0.4em;
    text-decoration: none;
}

#fotocentrale {
    width: 100%;
	height: auto;
    text-align: center;
    padding: 2em 0;
}

.Icon h3{
     display: inline;  
    color: black;
    padding: 0.5em;
} 

.Icon p{
    margin-bottom: 1em; 
}
/* FOOTER */

  footer {
    background-color: rgb(238,238,238);
    padding: 1em 2.5em;
    text-align: start;  
}
    footer h3 {
        padding: 1em 0em;

 }   

footer .contattisocial {
      width: 2.5em;  
      display: flex;
    }   

.Newsletter input{
     height: 2em; 
     width: 18em; 
     width: 100%;; 
     font-size: 1.5rem; 
}
    .Submit {
       
        text-align: center;
        width: 100%;
        font-size: 1.9rem;
        background: rgb(102,193,226);
        background: linear-gradient(100deg, rgba(102,193,226,1) 16%, rgba(102,193,226,1) 25%, rgba(102,193,226,1) 29%, rgba(57,39,250,1) 100%);
        cursor: pointer; 
        padding-right: 0.3em;
        
       
        } 
                .bottone {
                          color: white;
                          text-decoration: none;
                     }

        .lni-creative-commons {
         color: #000;
         font-size: 1.5rem;
         line-height: 1.8;
         text-align: start;
         padding-top: 0.8em;
}


/*  PAGINA CHI-SIAMO.HTML     */

main {
    text-align: center;
}
    main h1 {
         margin: 0.8em 1em;
     }
       main p {  margin: 1em 2em 0em 2em;
                 padding-bottom: 0.8em;
     }

     #fotocentrale2 {
        width: 100%;
        height: auto;
        text-align: center;
        padding: 2em 0;
    }

table  {
        background-color: #d2dce7;
        width: 20em;
        margin: auto;
        margin-bottom: 3rem;
     }

        caption{
             font-size: 2rem;
        }
        table th {
            text-align: start;
            font-weight: bold;
            padding: 0.2em 0.3em;
        }

 /* PAGINA CONTATTI.HTML */

#contact  {
      text-align: center;
      width: 100%;
      padding: 3em 0em;
    }
    
     .testo {
         width: 25.8em;
         margin: 1.7em 0em 0.1em 0em;
         padding: 1em;
         font-style: italic;
         
       }

      #textarea {
          margin: 1.6em 0em 0.8em 0em;
          font-style: italic;
          padding: 0.6em 0em;
       }

       #Inviailmessaggio {
           color: white;
           border: none;
           background: rgb(102,193,226);
           background: linear-gradient(100deg, rgba(102,193,226,1) 16%, rgba(102,193,226,1) 25%, rgba(102,193,226,1) 29%, rgba(57,39,250,1) 100%);
           width: 10em;
           height: 2.2em;
           font-size: 1.9rem;
        }


        #informazioni {
            margin: 0em 0.4em 2em 0.4em;
            text-align: center;
             }
                 #informazioni a {
                     color: black;
                     text-decoration: none;
                    
                    }
                  
                    #informazioni h4 {
                        font-size: 2.5rem;
                        line-height: 1;
                        margin: 1em 1em;
                    }
                    

/* RESPONSIVE */

@media screen and (max-width: 373px) {  
    

.testo{
    width: 230px;
}

#textarea {

 width: 260px;
}
}

@media screen and (max-width: 390px) {
header .lni {
    
    width: 2px;
    height: auto;
    padding: 0.3em 0em 0em 3em;
}
       
    }
    @media screen and (max-width: 390px) {
        #fotonotebook1 {
            width: 220px;
            height: 170px;
    }
    

    }
      @media screen and (min-width: 390px) {
        header .lni {
                
            width: 2px;
            height: auto;
            padding: 0.2em 0em 0em 4.5em;
        }
         
    }

    @media screen and (max-width: 410px) {
         
         #duefoto {
              height: 200px;
              width: 300px;
        }
        table {
            width: 300px;
        }

    }

        @media screen and (min-width: 480px) {
            header .lni {
                    
                width: 2px;
                height: auto;
                padding: 0.5em 0em 0em 6em;
            }}

            
        @media screen and (min-width: 620px) {
            header .lni {
                    
                width: 2px;
                height: auto;
                padding: 0.5em 0em 0em 8em;
            }}


@media screen and (max-width: 768px) {
    header nav {
        height: 0;
        overflow: hidden;
        position: relative;
        width: 100%;
        transition: height 0.5s ease-out;
    }

    .lni-more-alt {
        
        position: absolute;
        width: 100%; 
    }

    nav ul a{
        color: red;
        text-decoration: none;
    }
}

/* RESPONSIVE TABLET INDEX  */

@media screen and (min-width: 769px){
      
        
     #menuMobile { 
          display: none;}
   
     header   { 
         
         margin: auto;
         
         display: flex;
         justify-content: space-between;
         align-items: center;
         
             }
             #logo {

                 width: 200px;


             }
             nav {
                display: flex;
                list-style: none;
                justify-content: space-between;
                align-items: center;
                display: inline-flex;
               
          }
      
             nav ul {
                display: flex;
                list-style: none;
                justify-content: space-between;
                align-items: center;
                display: inline-flex;
                margin: 0em 0.5em 0em 0.5em;
                gap: 25px;
                color: #000;
             }

             .registrati {
                 padding-top: 0.5rem;
                 
             }

    #banner h1 {
        padding: 2em 2em 0.4em 2em;
    }
    
    #banner  p{
        padding: 0em 2em 0em 4em;
   }
     #banner .pulsante {
             margin-left: 4.2em;
            }
    
     .container {  
          
         display: flex;
     }
     
         
     #fotocentrale {
         display: flex;
         text-align: center;
         width: 100%;
         justify-content: space-evenly;
         
     }
          
     .Icon
           {
              margin: 2.5em 0em 0em 2em;
              text-align: center;
           }
     

.container2 {
    display: flex;

}

nav ul li a {
    text-decoration: none;
    color: #000;
    
}

 footer .items2 {
      margin: 1.5em;
 }

/* RESPONSIVE TABLET CHI-SIAMO  */

#fotocentrale2 {
     display: flex;
     
}
     #duefoto {
            width: 320px;
            height: 200px;
        }
 

         table  {
          
            width: 60%;
           
         }
  
/* RESPONSIVE TABLET CONTATTI  */

 #container4 {
    display: flex;
    height: 650px;
    
} 

     #contact h2 {
        text-align: end;
        
    }

    #informazioni {
        margin-top: 5em;
    } 
   
} 

/* RESPONSIVE PC INDEX  */

@media screen and (min-width: 1279px) {



    body {
        line-height: 1.2;
    }

    .registrati {
        padding-top: 0.5em;
    }

header {
    justify-content: space-evenly;
}

  #banner {
            
         padding: 0 0 4% 24%;
         
}

       
    #banner h1 {
        padding: 2em 2em 0.4em 2em;

    }
    
    #banner  p{
        padding: 0em 2em 0em 4em;
        width: 600px;
        margin-bottom: 15px;
   }
     #banner .pulsante {
             margin-left: 4.2em;
             padding: 0.5em 0.5em;
            }
             
             
             #benefits { margin: 3em 12em;
                    
             }   

             .items  {
                margin: 1em 2em;
             }
          

#fotocentrale { justify-content: center;

                  
                }


                footer  {
                     padding: 0em 7em;
               }
              

               .copyright i {
                   text-align: center;
               }
 
                .lni-creative-commons    {
                 margin-bottom: 2.5em;
                 }          


                 .Submit {
                     padding: 0.5em 0.2em;
                     
                 }

                 .Newsletter
                      {    margin: 0em 6em;
                           }
     
/* RESPONSIVE PC CHI-SIAMO  */
   main { 
           padding: 1em 14em;
           font-size: 1.5rem;

   }    
   

   table  {
          
    width: 50%;
   
 }

/* RESPONSIVE PC CONTATTI  */

#contact h2 {
    text-align: center;
    margin-left: 18em;
    
      
}


#container4  { 
    
    height: 650px;
}

#informazioni   {
    margin-right: 15em;
    font-size: 1.5rem;
    text-align: center;
   }

 
   form {
       margin: 2em 2em 0em 0em;
   }

   .testo{
       width: 550px;
   }

  #textarea {

    width: 580px;
  }

}